/* modem stylesheets version 1.0.0 */

\:root {
  font-size: 16px;
}

html, body {
  margin: 0;
}

.modem {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 30px auto;
  // grid-gap: 0.625em;
  height: 100vh;
}

.modem__nav {
  grid-column: span 10;
  // grid-row: 1;
  background: {
    color: #d271ff;
  }
}

.modem__ad {
  margin: 0;
}

.modem__content {
  grid-column: span 10;
  // grid-row: 2;
  background: {
    color: rgb(113, 113, 255);
  }
}

.modem__footer {
  background: {
    color: pink;
  }
  grid-column: span 10;
  // grid-row: 3;
}
